@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Roboto&display=swap');
/* font - Noto Sans KR + Roboto */

@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');
/* font - Nanum Brush Script */


.main-index-title {
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Roboto', sans-serif;
    display: flex;

}

.main-index-title__content:nth-child(1) {
    width: 50%;
    height: 800px;
    background-color: #E2DEDB;
}

.main-index-title__content:nth-child(2) {
    width: 50%;
    height: 800px;
    background-color: #FFFFFF;
}

.main-index-title__content p,
.main-index-title__content h1 {
    word-break: keep-all; /* 단어 단위로 줄바꿈 */
}

.main-index-title__content h1 {
    margin-top: 200px;
    font-size: 40px;
    letter-spacing: 3px;
    text-align: center;
    opacity: 0.6;
}

.main-index-title__content:nth-child(2) h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

.main-index-title__content p {
    margin: 110px 110px;
    font-size: 20px;
    letter-spacing: 3px;
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
}

.main-index-title img {
    margin: 30px 165px;
    height: 400px;
    width: 400px
}


/* main-index-container */
.main-index-container {
    font-family: 'Nanum Brush Script', cursive;
    display: flex;
    flex-direction: column;
}

.main-index-container__text-h1 {
    /* h1 container */
    height: 500px;
    background-color: #FDF7F6;
}

.main-index-container__text-h1 h1 {
    /* h1 container 안에 h1 */
    margin-top: 100px;
    font-size: 90px;
    font-weight: 200;
    opacity: 0.6;
}

.main-index-container__text-h1:nth-child(1) h1 {
    margin-left: 100px;
}

.main-index-container__text-h1:nth-child(2) h1 {
    margin-left: 600px;
}

.main-index-container__text-h1:nth-child(3) h1 {
    margin-left: 100px;
}

.main-index-container__text-h1:nth-child(4) h1 {
    margin-left: 600px;
}

.main-index-container__text-h1:nth-child(5) h1 {
    margin-left: 100px;
}



/* main-index-container-content */
.main-index-container-content {
    position: relative;
    width: 100%;
    height: 850px;
    display: flex;
}

.main-index-container-content__box-left {
    width: 40%;
    height: 100%;
    background-color: #B6B6B6;
}

.main-index-container-content__box-right {
    width: 60%;
    height: 100%;
    background-color: #EEEEEE;
}

.main-index-container-content__box-float {
    position: absolute;
    width: 90%;
    height: 75%;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #DFDFDF;
    opacity: 0.8;
}

.main-index-container-content__box-float-pic {
    position: absolute;
    width: 300px;
    height: 300px;

    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);

}

.main-index-container-content__box-float-pic img {
    width: 100%;
    height: 100%;
}

.main-index-container-content__box-float-any {
    position: absolute;
    width: 800px;
    height: 400px;

    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);

    display: flex;
}

.main-index-container-content__box-float-any img {
    width: 50%;
    height: 100%;
}

.main-index-container-content__box-float-any-text {
    background-color: #EEEEEE;
    width: 50%;
    height: 100%;
}

.main-index-container-content__box-float-any-text h1,
.main-index-container-content__box-float-any-text p {
    font-family: 'Noto Sans KR', sans-serif;
    margin-left: 40px;
    margin-right: 60px;
    text-align: center;
    letter-spacing: 1px;
    line-height: 35px;
}

.main-index-container-content__box-float-any-text h1 {
    font-size: 40px;
    margin-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 15px;
    border-bottom: 3px solid #AE9D8C;
}


.main-index-container-content__box-float-any-text p {
    font-size: 15px;
    margin-bottom: 10px;
}

.main-index-container-content__box-float-any-text input {
    padding: 6px 95px;
    margin-left: 75px;
    font-size: 15px;
    background-color: #AE9D8C;
    color: white;
    border: none;
}

.main-index-container-content__box-float-any-text input:hover {
    transition: .2s ease-in-out;
    background-color: #DAC9BA;

}