.letter-main {

}

.letter-main-container {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    width: 100%;
    height: 800px;
    background-color: #F3F0ED;
}

.letter-main-container__box {
    width: 380px;
    height: 180px;
    margin-left: 235px;
    margin-top: 170px;
    background-color: F3F0ED;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-bottom: 2px solid rgba(0,0,0,0.2);
    

}

.letter-main-container__text {
    padding-top: 40px;
    width: 380px;
    height: 180px;
    margin-left: 235px;
    background-color: #F3F0ED;
    line-height: 30px;
}

